
/*navigation*/
nav{

    background: white;
    color: black !important;
    padding-bottom: 50px !important;
    

}
  
    .nav-wrapper{

        background: white;
        color: black !important;
        height: 200px;
       

    }


    .logo-lotus {

        margin-left:20px;
    }
    
    body {
        background-color: rgb(245, 245, 245);
      }
 
/*search*/     

.search-tag {
display:none;
}

#myInput{
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    color:rgb(41, 41, 41);



}

/*cards*/

.row{

    margin-top: 50px;

   }

.brief {

    font-family: 'Zilla Slab', serif;
    font-size: 16px;
    color:rgb(41, 41, 41);
}
.name {

    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    color:#3AB58B;
}

.name-definition {

    font-family: 'Zilla Slab', serif;
    font-size: 18px;
    color:rgb(41, 41, 41);
}


a {
color:#3AB58B !important;
    font-family: 'Nunito', sans-serif;


}


.card {
    border-radius: 10px;
   


}

/* maybe and maybe not buttons */

.maybe-button {
    color:#3AB58B;

}

.maybe-not-button {

    color:#3AB58B;
}


.trash-button {

    float:right;
    margin-left: 15px;
}

.trash-button p{

    color:rgb(98, 98, 98);
    display:inline;
    margin-left: 15px;
}

.put-back-button {

    float:right;
    margin-bottom: 15px;
}

.put-back-button p{

    color:rgb(98, 98, 98);
    display:inline;
    margin-left: 15px;
}


/* icons*/ 
.fa-check {

    margin-right:10px;
    color:#3AB58B;
}

.fa-times {

    margin-right:10px;
    color:#3AB58B;
}


.fa-thumbs-up{
    font-size: 20px;
    margin-right:10px;
    color:#3AB58B;
}

.fa-thumbs-down {
    font-size: 20px;
    margin-right:10px;
    color:#3AB58B;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: 'Zilla Slab', serif;
  }

  .hero{
    color:white !important;
  }

  .login{
    background-color:rgb(46, 46, 46) !important;
 
  
  }
/*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ph-files.imgix.net/610be839-a246-4050-a6c2-141e766c4a7f?auto=format&auto=compress&codec=mozjpeg&cs=strip");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 30px;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px !important;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  .about-u4ia {
      width: 50%;
      font-size: 20px !important;
      font-family: 'Zilla Slab', serif;

  }

  .green-background{
      background-color: #3AB58B;
  }

  .green-background h1{
    font-size:30px;
    text-align: center;
    font-family: 'Nunito', sans-serif !important;
    color: white !important;
}